@charset "utf-8";
.ui-autocomplete {
    background-color: #fff;
    position: absolute;
    cursor: default;
    list-style: none;
    margin: 25px 0 0;
    padding: 0;
    border: 1px solid #E5E5E5;
    border-top: none;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    -moz-box-shadow: 0 3px 5px #888;
    -webkit-box-shadow: 0 3px 5px #888;
    box-shadow: 0 3px 5px #888;
    font-size: 12px;
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
	height: 150px;
}

ul.tagit {
    cursor: text;
    overflow: hidden;
    font-size: 14px;
    width: 95%;
    padding: 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
   /* border: 1px solid #E5E5E5;*/
    background: #fff;
    color: #555;
     
}
ul.tagit.borders{border: 1px solid #E5E5E5;}
.tagitBgsCon{ width:220px; padding:7px 8px 4px;background:#f2f2ff; border-radius:5px; }
ul.tagit.tagitbgs{min-height:70px; height:auto !important; height:70px; margin-bottom:5px;}

ul.tagit li {
	white-space:nowrap;
   /* -moz-border-radius: 5px;*/
   /* border-radius: 5px;*/
    margin: 2px 5px 2px 0;
    position: relative;
   float:left;
   display: inline;
}

ul.tagit li.tagit-choice {
     border:#bbccd4 solid 1px; 
     background:#F4FBFF;  
     padding:3px 13px 4px 2px;  
     line-height:16px; 
     font-size:12px;
     color:#222222
}
ul.tagit li.tagit-static{ background:#f2f2ff; padding:0 5px; line-height:16px; font-size:12px;}
ul.tagit li.tagit-choice.selected {
    background-color: #f5b0b0;
    border-color: #f76464;
}

ul.tagit li.tagit-choice:hover {
    background-color: #F2F2FF;
    border-color: #E0B252;
}

ul.tagit li.tagit-new {
    padding: 2px 4px 3px;
    padding: 2px 4px 1px;
    padding: 2px 4px 1px 0;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

ul.tagit li.tagit-choice a.tagit-close {
    color: #777777;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    outline: medium none;
    padding: 2px 0 2px 3px;
    text-decoration: none;
    position: absolute;
    display: block;
    top: 0;
    right: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

ul.tagit li.tagit-choice a.tagit-close:hover {
    color: #535353;
}

ul.tagit input[type="text"] {
	background:none;
    -moz-box-sizing: border-box;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: inherit !important;
    outline: none;
	
}

.tagit-hiddenSelect {
    display:none;
}
ul.tagit li.tagit-choice a{ float:left; }

.pabtn{position:absolute; top:32px; right:0px;}

