.sort_normal,.sort_desc,.sort_asc{width:7px;height:9px;display:inline-block;margin-left:4px;background:url(/public/image/orderlist/sort_bg.png) no-repeat;}
.sort_desc{background-position:-8px 0;}
.sort_asc{background-position:-16px 0;}